.header-products {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  margin: 7vh 10vw 0;
  
  & h2 {
    width: 20vw;
    max-height: 44px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
  }

  & h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 2vh;
  }

  & .options-card {
    margin: 0 2vw;

    & .options {
      width: 18.5vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  
      & p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6vh;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
  
        & img {
          margin-right: 2px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .options-card {
      margin: 0 2vw;
  
      & .options {
        width: 18.5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        & p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.6vh;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
    
          & img {
            margin-right: 2px;
          }
        }
      }
    }
  }
}