.header {
  color: $white;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: $principalColor;
  height: 45vh;
  width: 100vw;

  & .header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    margin-left: 10vw;
    align-items: center;
    padding: 5vh 0 2vh;

    & :hover {
      cursor: pointer;
    }

    & .header-navbar-content {
      width: 58vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      line-height: 19.5px;
      height: 35px;

      & div:nth-child(2) {
        color: $lightBlue;
      }
    }

    & .budget {
      background-color: $desfokecWhite;
      padding: 12px 18px;
      border-radius: 7px;
      font-weight: 500;
      display: flex;
      align-items: center;

      & img {
        padding-right: 3px;
      }
    }
  }
}

.header:has(.header-products) .header-navbar {
  border-bottom: 1px solid $white;

  & .header-navbar-content div:nth-child(2) {
    color: $white;
  }

  & .header-navbar-content div:nth-child(3) {
    color: $orange;
  }
}